

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>おめでとうございます！全ての謎を解けたあなたは神です。</h1>
    <h2>平泉町役場にて、平泉町まちづくり推進課にて、無料の温泉券がプレゼントされます。温泉で疲れた体を癒してください。謎解き in Hiraizumi & スパルタキャンプお疲れ様でした。</h2>
    <h3>この謎解きの開発を引き継いでくれる人募集します。興味のある方はSlackにてこいけまで連絡よろしくお願いします。</h3>
    <a href="https://goo.gl/maps/AGPEUSUKSePzCt2U7">地図</a>
</body>
</html>
